<nav class="nav-bar">
  <a class="navbar-brand" href="#">
    <fa-icon icon="coffee"></fa-icon>
    {{ title }}</a>
</nav>

<div class="d-flex justify-content-center align-items-center container ">

  <div class="row col-12 col-lg-6">

    <div class="form-group" >
      <label for="exampleDataList" class="form-label h2">Trouve ton école</label>
      <input
        class="form-control"
        list="datalistOptions"
        id="exampleDataList"
        placeholder="Tape pour chercher..."
        (input)="selectSchool($event)">
      <datalist id="datalistOptions">
        <option *ngFor="let s of schools" [value]="s.name" [attr.data.value]="s.id"  >{{s.name}}</option>
      </datalist>
    </div>


  </div>

</div>

<app-school-map [zoomedSchool]="selectedSchool"></app-school-map>
